.background-image2 {
  background-image: url("@/assets/img/cifras_bg.png");
  @extend %background-image;
  margin: 0px;
  margin-bottom: -1px;
}
#cifras {
  padding: 80px 12px;
}
.card-cont {
  margin: auto;
  padding: 50px 70px;
}
.cifra-cont {
  position: relative;
}
.numbers {
  position: absolute;
  right: 0;
  left: 0;
  top: 20%;
  margin: 0 auto;
  text-align: center;
}
.cifras-text {
  text-align: justify;
  text-justify: inter-word;
  padding: 60px 0px 0px 0px;
}