.background-image3 {
  background-image: url("@/assets/img/entorno_bg.png");
  @extend %background-image;
}
#entorno {
  padding: 100px 48px;
}
.img-entorno {
  width: 80%;
}
.entorno-text {
  padding: 40px 0px;
}