.background-image3 {
  background-image: url("@/assets/img/entorno_bg.png");
  @extend %background-image;
}
#entorno {
  padding: 80px 0px;
}
.entorno-cont {
  padding-top: 100px;
}
.img-entorno {
  width: 80%;
}
.entorno-text {
  padding: 40px;
}