.background-image4 {
  background-image: url("@/assets/img/location_bg.png");
  @extend %background-image;
}
#location {
  .little-p {
    margin: 20px 0px;
  }
  .img-map {
    padding: 0px 20px;
    max-width: 100%;
  }
}
.location-text {
  padding: 80px 0px;
  .row {
    padding: 40px 0px;
    .big-p {
      padding: 20px 80px;
      @media (max-width: $desktop-width) {
        padding: 20px;
      }
    }
  }
}
.circle {
  margin: 10px;
}