.pre-navbar {
  background-color: $light-green;
  p {
    margin: 0px;
    padding: 10px;
    a {
      text-decoration: underline;
    }
  }
}

.navbar {
  background-color: $light-green-trans;
  padding: 20px 50px;
  position: relative;
  @media (min-width: $tablet-width) {
    color: black;
  }
}

.navbar-brand {
  position: absolute;
  top: 0;
}

.nav-link {
  @extend %montse-font-light;
  font-size: 16px;
  margin: 7px;
}
.active {
  font-weight: 700;
}
.logo {
  width: 180px;
}
.navbar-toggler {
  border: transparent;
}
#offcanvasNavbar.offcanvas {
  background-color: $dark-green;
  justify-content: center;
}

.btn-close-white {
  text-align: right;
}