#postales {
  background: linear-gradient(135deg, $light-green, $dark-green);
  background-position: end;
  .tittle {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.postales-cont {
  //display: flex;
  margin: 0px;
  padding: 0px;
  &:hover .postal-box .overlay {
    opacity: 100%;
  }
  img {
    width: 100%;
    
  }
}
.postal-box {
  //display: flex;
  padding: 0px;
  margin: 0px;
  position: relative;
  transition: 0.8s;
}
