.background-image3 {
  background-image: url("@/assets/img/proyectos_bg.jpg");
  @extend %background-image;
  margin: 0px;
  margin-bottom: -1px;
}
#proyectos {
  text-align: center;
  padding: 100px 50px;
  @media (min-width: $tablet-width){
    padding: 100px 0px;
  }
}
.proyect-cont {
  padding: 80px 0px;
}
.desc-text {
  padding: 40px;
    @media (max-width: $tablet-width){
      padding-left: 0px;
      padding-right: 0px;
      .bajada {
        line-height: 130%;
      }
  }
  
}