#section1 {
  background: linear-gradient(135deg, $dark-green, $primary-color);
  margin: 0px;
  padding: 80px 100px;
  word-wrap: break-word;
  @media (min-width: $tablet-width){

  }
}
.desc-text {
  padding: 0px 40px;
  p {
    padding: 20px 300px 0px 0px;
    text-align: justify;
    text-justify: inter-word;
    @media (max-width: 1400px) {
      padding: 20px 0px 0px 0px;
    }
  }
}

#video {
  padding: 80px 12px;
}







.benefit-card {
  padding: 10px 20px;
}
.benefit-card img {
  width: 117px;
  padding: 10px 0px;
}
.benefit-icon-cont {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  padding: 25px 70px;
}

.background-map {
  background-image: url("@/assets/img/map_bg.jpg");
  @extend %background-image;
  background-position: left top;
}
.cta-cont {
  padding: 100px 200px;
  margin: 0px;
  @media (max-width: $tablet-width) {
    padding: 100px 40px;
  }
}
.row {
  margin: 0px;
}