.background-image7 {
  background-image: url("@/assets/img/thanks_bg.jpg");
  @extend %background-image;
  height: 100vh
}
.big-cont {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  justify-content: center; /* Alinea horizontalmente al centro */
}
.thanks-cont {
  padding: 200px 50px 225px;
  @media (min-width: $desktop-width){
    width: 40%;
  }
}
.big-txt {
  font-size: 90px;
  @media (max-width: $phone-width){
    font-size: 60px;
  }
}
.espaciado {
 margin-top: 30px;
}
.mi-pagina-vue {
  max-height: 100vh;
  overflow-y: hidden;
  position: relative;
}
.foot-tks {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}